#add-item {
  background-color: #f8f8f8;
}

.section-header {
  background-color: rgba(13, 163, 163, 0.1);
  padding: 1rem 2rem;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  height: 8vh;
}

form {
  padding-top: 2rem;
}

.form-div {
  width: 50%;
  margin: 0 auto;
  width: 50%;
}

form input {
  width: 75%;
  margin: 0;
}

form label {
  margin: 1.5rem 0;
  text-align: center;
  width: 25%;
}

form select {
  width: 75%;
  margin: 0.5rem auto;
  height: 3rem;
}

.form-submit {
  width: 20%;
  height: 2.5rem;
}
