.primary {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #820a92;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  color: #f3f3f3;
  text-wrap: pretty;
  white-space: nowrap;
}

.primary:hover {
  background-color: #a31668;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 1);
  transition: 0.5s;
}
