* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(209, 40, 47);
  background: linear-gradient(0deg, rgba(209, 40, 47, 1) 0%, rgba(125, 8, 152, 1) 48%, rgba(0, 255, 222, 1) 100%);
}

main {
  background-color: rgba(248, 248, 248, 0.2);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0.4rem;
  padding: 1rem;
}
